@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;





body {
  font-family: "Poppins", sans-serif;
}

:root {
  
  --primary:#1E8CAB;
  --secondary:#B9DBE5; 
  --light-primary:#E9F4F7;
  --light-gray:#EDEFF2;
  --warning:#FFF5E6;
  --error-red:#FDE7E7;
  --success-green:#EDF6EB;
  --brand-blue:#E9F4F7;
  --error-red-600:#D7110E;

 
  /* Background */
 --background: #F5F9FA;
  --surface-overlay: rgba(245, 249, 250, 0.05);

  /* Text */
  --text-primary: #F5F9FA;
  --text-secondary: #141414;
  /* --text-secondary: #6B7280; */
  --text-darker: #464646; 
  /* --text-white: #FFFFFF; */ 
  --text-natural-gray:#747474;


  /* Border */
   --border: #D4D5D8; 

  /* Status */
  /* --success: #22C55E;
  --warning: #F59E0B;
  --error: #EF4444;
  --info: #3B82F6; */ 
}

/* Override browser autofill styling to match design system */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: var(--text-secondary) !important;
}